{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-7 pb-5 text-center">
{{ partial "picture" (dict
  "ctx" .
  "src" "startpage-eh1.png"
  "class" "p-1 img-fluid lazyload"
  "alt" "Ernst Haeckel illustration"
) }}
<p class="meta"> {{ .Content }} </p>
{{/*
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.Lead | safeHTML }}</p>
    <a class="btn btn-dark px-3" href="/blog" role="button">View Posts</a>
    <a class="btn px-3" href="/about" role="button">About me</a>
*/}} 
  </div>
  <div class="col-lg-7 pb-5 text-center list-view">
    <h3> Articles
 {{/*
     <a href="{{ .OutputFormats.Get "RSS".Permalink }}">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z"/>
</svg></a>
*/}} 

    </h3>

{{/*  
<div class="list-group">         
{{ range ( where .Site.RegularPages "Type" "post" | first 3 ) }}
  <a href="{{ .Permalink }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ .Title }}</h5>
      <small> <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" -}}</time> </small>
    </div>   
    <small>{{ .Params.lead | safeHTML }}</small>      
  </a>
  {{end}}
</div>
*/}} 


{{ range ( where .Site.RegularPages "Type" "blog" | first 3 ) }}
<div class="row">
 <div class="col-md-12 col-lg-12">
  <article class="d-flex flex-column h-100 rounded-3">
    <div class="p-4 pb-0">
    <div class="position-relative">
      <h3 class="h5 post-title mt-2 mb-2 line-clamp clamp-2">
        <a class="text-body stretched-link" href="{{ .Permalink }}">{{ .Params.title }}</a>
      </h3>
      <p class="mb-0 line-clamp clamp-3">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
  <div class="post-author mt-auto p-4 pt-0">
  </div>
  </article>
 </div>
 </div>

{{end}}

<a class="btn btn-light px-3" href="/blog" role="button">View All Posts</a>

</div>
  
</div>
{{ end }}
